@model SistemaContas.Presentation.Models.PasswordRecoverViewModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml"; ;
}


<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Recuperar Senha</h1>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="mb-2 d-grid">
                        <label for="staticEmail2" class="visually-hidden">Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "E-mail" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Email)
                        </span>
                    </div>
                    <div class="mb-2 d-grid">
                        <button type="submit" class="btn btn-warning mb-3">Recuperar Senha</button>
                    </div>
                    <div class="mt-2 text-center">
                        <small>JonzTech - Asp.Net MVC</small>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

