@{
    Layout = "~/Views/Shared/AccountLayout.cshtml"; ;
}

<div class="col-md-12 text-center">
    <h1>Password Recover</h1>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <form class="row g-3">
                    <div class="mb-2 d-grid">
                        <label for="staticEmail2" class="visually-hidden">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="E-Mail">
                    </div>
                    <div class="mb-2 d-grid">
                        <button type="submit" class="btn btn-warning mb-3">Recuperar Senha</button>
                    </div>
                    <div class="mt-2 text-center">
                        <small>JonzTech - Asp.Net MVC</small>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

