@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Edição Categoria.</h1>
                </div>
            </div>
        </div>
    </div>
</div>